@import url(http://fonts.googleapis.com/css?family=Roboto);

/**
 * General Styling
 */
html{

  @include fullscreen;

  body{
     @include fullscreen;
     background-image: url("../assets/images/bg.png");
     font-family: 'Roboto', sans-serif;
  }
}

.main-title{
  text-decoration: underline;
  font-style: italic;

}




/**
 * Bootstrap Overrides
 */

.panel-default > .panel-heading{
 background-color:white;
}




/**
 * Helper Classes
 */

.brightRed{
  color:$brightRed;
}

.orange{
  color:orange
}

.yellow{
  color: #E4C30D;
}

.green{
  color:green;
}

.black{
  color:black;
}

.checked{
  text-decoration: line-through;
  color:grey;
}




/**
 * Checklist Styling
 */
.checklist{
  margin-top:3em;

  .section{
    margin-bottom:2em;




    .title{
      margin-left:2.5em;
    }

    .image{
      margin-top:-0.4em;
      // margin-bottom:1em;
      height:2em;
    }

    .completion-fraction{
      margin-top: -1.85em;
    }

    .checkbox{
      margin-bottom:1.5em;
    }

  }

}




.footer{

  .clear-button{
    background: $brightRed;
    border-radius: 50%;
  }

  #footer-link{
    @media screen and (max-width: $tablet-screen) {
      display:none;
    }
  }
}



/* Github link styling*/
#github-link{
  @media screen and (max-width: $tablet-screen) {
    display:none;
  }
}
