/**
 * General Styling
 */
html{

  @include fullscreen;

  body{
     @include fullscreen;
     background-image: url("../assets/images/bg.png");
  }
}

.main-title{
  text-decoration: underline;
  font-style: italic;

}




/**
 * color classes
 */

.brightRed{
  color:#f00;
}

.orange{
  color:orange
}

.yellow{
  color: #E4C30D;
}

.green{
  color:green;
}

.black{
  color:black;
}



/**
 * Checklist Styling
 */
.checklist{
  margin-top:3em;

  .section{
    margin-bottom:2em;


    .title{
      margin-left:2.5em;
    }

    .image{
      margin-top:-0.4em;
      // margin-bottom:1em;
      height:2em;
    }

    .checkbox{
      margin-bottom:1.5em;
    }
  }

}
