.checklist{

  margin-top:3em;

  .section{

    margin-bottom:2em;

    .title{
      margin-left:2.5em;
    }

    .image{
      margin-top:-0.4em;
      // margin-bottom:1em;
      height:2em;
    }

    .checkbox{
      margin-bottom:1.5em;  
    }


  }

}
