<div class="container">

  <div class="row">

      <div class="col-sm-12">
          <h1 class="text-center">Mobile Development Checklist - {{checklist.completePercentage | number: 2 | percentage }}</h1>
      </div>

  </div>

  <div class="row checklist">

    <accordion close-others="{{flase}}">

      <div class="col-sm-6 col-md-4" ng-repeat="section in checklist.list">

        <accordion-group class="section" >

          <accordion-heading>
            <img class="pull-left image" ng-src="{{section.thumbnail}}" alt="{{ section.sectionTitle }}" />
            <h4 class="title">{{section.sectionTitle}}</h4>

          </accordion-heading>


            <div class="checkbox" ng-repeat="check in section.checks">
              <label>
                <input type="checkbox" ng-change="checklist.updateCompletionPercentage()" ng-model="check.value">
                {{check.description}}
              </label>
            </div>

        </accordion-group>

      </div>

    </accordion>

  </div>

  <div class="row footer">
    <div class="col-sm-12">
      icons desingned by Freepik
    </div>
  </div>

</div>
